@tailwind base;
@tailwind components;
@tailwind utilities;

/* Wrapper for the main content to allow scrolling */
.main-content-container {
  max-height: calc(100vh - 80px - 120px); /* Adjust for header and footer height */
  overflow-y: auto;
  padding-bottom: 10rem;
  padding-top: 2rem; /* Ensure content is not hidden behind the footer */
}

/* Footer styling */
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer .icon {
  font-size: 2rem; /* Larger icon size */
}

.footer .linkedin {
  color: #114de4; /* LinkedIn Blue */
}

.footer .researchgate {
  color: #ecefef; /* ResearchGate Green */
}

.footer .googlescholar {
  color: #4285f4; /* Google Scholar Blue */
}
